@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.header {
  height: 70vh;
  min-height: 620px;
}
.header .nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(199.585, 100%, 62%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 30px;
}
.header .nav__items {
  display: none;
}
.header .nav__hamburger img, .header .nav__logo img {
  height: 30px;
}
.header__baner {
  height: calc(70vh - 100px);
  min-height: 520px;
  position: relative;
}
.header__baner > * {
  position: absolute;
  top: 0;
  left: 0;
}
.header__title {
  color: hsl(0, 0%, 100%);
  font-family: "Fraunces", serif;
  font-size: 64px;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__arrow {
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__arrow img {
  height: 150px;
}
.header__image {
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .header .nav__hamburger {
    display: none;
  }
  .header .nav__items {
    color: hsl(0, 0%, 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none;
    margin-left: 30px;
    text-align: right;
  }
  .header .nav__item {
    cursor: pointer;
    padding: 15px;
    margin: 0 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header .nav__item:hover {
    color: #d9d9d9;
  }
  .header .nav__item--contact {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    color: hsl(198, 62%, 26%);
    font-family: "Fraunces", serif;
    font-size: 18px;
    padding: 15px 25px;
    text-transform: uppercase;
  }
  .header .nav__item--contact:hover {
    background-color: #8ad9ff;
    color: hsl(0, 0%, 100%);
  }
  .header__title {
    font-size: 54px;
    letter-spacing: 8px;
    padding: 10px 30px;
    top: 15%;
    width: 100%;
  }
  .header__arrow img {
    height: 100%;
  }
  .header__image {
    background-image: url("../images/desktop/image-header.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .header .nav__item {
    font-size: 18px;
  }
  .header .nav__item--contact {
    font-size: 16px;
  }
  .header__title {
    font-size: 42px;
  }
}
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section__ad {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.section__image {
  height: 30vh;
  min-height: 410px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__image--egg {
  background-image: url("../images/mobile/image-transform.jpg");
}
.section__image--glass {
  background-image: url("../images/mobile/image-stand-out.jpg");
  height: 50vh;
}
.section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  height: 50vh;
  min-height: 550px;
  margin: 100px 50px;
}
.section__title {
  color: hsl(212, 27%, 19%);
  font-size: 58px;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.section__text {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 180%;
}
.section__more {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  font-size: 32px;
  text-transform: uppercase;
}
.section__background-image {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  min-height: 820px;
  position: relative;
}
.section__background-image--photography {
  background-image: url("../images/mobile/image-photography.jpg");
}
.section__description {
  bottom: 0;
  color: hsl(167, 40%, 24%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35%;
  padding: 0 40px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.section__description--photography {
  color: hsl(198, 62%, 26%);
}
.section__specification {
  font-size: 24px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  line-height: 180%;
}
.section__subtitle {
  font-family: "Fraunces", serif;
  font-size: 48px;
  margin-bottom: 35px;
  text-transform: capitalize;
}
.section__client {
  padding: 50px 40px;
}
.section__title-client {
  color: hsl(210, 4%, 67%);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
}
.section__people {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.section__person {
  margin: 80px 0;
}
.section__client-image {
  text-align: center;
}
.section__client-image img {
  border-radius: 50%;
}
.section__person-info {
  color: hsl(213, 9%, 39%);
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 180%;
  margin: 40px 0;
}
.section__signature {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 20px;
}
.section__job {
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.section__pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.section__picture {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  min-height: 320px;
}
.section__picture--orange {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}
.section__picture--ice-cream {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}
.section__picture--sugar {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

@media screen and (min-width: 768px) {
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section__ad {
    grid-template-columns: 1fr 1fr;
    height: 40vh;
    min-height: 400px;
    overflow: hidden;
  }
  .section__image {
    height: auto;
    min-height: auto;
  }
  .section__image--egg {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .section__info {
    text-align: left;
    height: auto;
    margin: 0;
    min-height: auto;
    padding: 50px;
  }
  .section__info--first {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .section__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .section__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .section__more {
    cursor: pointer;
    font-size: 18px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .section__more:hover {
    -webkit-box-shadow: 0px 8px 0px 0px hsl(51, 100%, 49%);
            box-shadow: 0px 8px 0px 0px hsl(51, 100%, 49%);
  }
  .section__background-image {
    height: 40vh;
    min-height: 400px;
    width: 50%;
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .section__background-image--photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }
  .section__description {
    bottom: auto;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .section__subtitle {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  .section__specification {
    font-size: 14px;
  }
  .section__client {
    padding: 30px;
  }
  .section__title-client {
    margin-top: 60px;
    font-size: 14px;
  }
  .section__client-image {
    height: 60px;
  }
  .section__client-image img {
    height: 100%;
  }
  .section__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__person {
    width: 30%;
    margin-top: 10px;
  }
  .section__person-info {
    font-size: 12px;
    height: 85px;
  }
  .section__signature {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .section__job {
    font-size: 10px;
  }
  .section__pictures {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .section__picture {
    height: 20vh;
    min-height: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .section__ad {
    min-height: 500px;
  }
  .section__background-image {
    min-height: 500px;
  }
  .section__info {
    padding: 50px 100px;
  }
  .section__title {
    font-size: 28px;
  }
  .section__text {
    font-size: 14px;
  }
  .section__more {
    font-size: 14px;
  }
  .section__background-image {
    background-position: center 40%;
  }
  .section__description {
    width: 70%;
  }
  .section__client {
    width: 80%;
    margin: 0 auto;
  }
}
.footer {
  background-color: #73baac;
  min-height: 400px;
  height: 40vh;
  padding: 50px;
}
.footer__logo {
  height: 60px;
  margin: 60px auto;
  text-align: center;
}
.footer__logo img {
  height: 100%;
  -webkit-filter: invert(25%) sepia(11%) saturate(2246%) hue-rotate(116deg) brightness(28%) contrast(82%);
          filter: invert(25%) sepia(11%) saturate(2246%) hue-rotate(116deg) brightness(28%) contrast(82%);
}
.footer__items {
  margin: 0 auto;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}
.footer__item {
  color: #34796a;
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-weight: 900;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0;
}
.footer__page {
  font-size: 40px;
  margin: 0 20px;
  padding: 10px;
  color: #34796a;
}

@media screen and (min-width: 768px) {
  .footer {
    height: auto;
    min-height: auto;
  }
  .footer__logo {
    height: 25px;
    margin: 0 auto 35px;
  }
  .footer__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item {
    cursor: pointer;
    font-size: 16px;
    padding: 0 40px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .footer__item:hover {
    color: hsl(0, 0%, 100%);
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px auto 0;
  }
  .footer__page {
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .footer__page:hover {
    color: hsl(0, 0%, 100%);
  }
}/*# sourceMappingURL=style.css.map */